@charset "utf-8";
a{
  text-decoration: none;
  font-size: 20px;
  color:#000000;
}
p{
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
}
h2{
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1.5px;
}
h1, h2, a{
  font-family: "EB Garamond";
}

header{
  height:103px;
  width:100%;
  .header-inner{
    width:100%;
    max-width: 1323px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    h1{
      font-size: 54px;
      font-weight: bold;
    }
    ul{
      display: flex;
      align-items: center;
      li {
          margin-left: 35px;
        a{
        font-size: 24px;
        }
      }
    }
  }
}
.top {
  display:flex;
  justify-content: center;
  img{
  height:650px;
  width:100%;
  max-width: 1400px;
  }
}
.news{
  width:1108px;
  height:100%;
  padding:51px 0 90px;
  margin:0 auto;
  h2{
    line-height: 39px;
    letter-spacing: normal;
    margin-bottom:5px;
  }
  .news-nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 28px;
    p{
      letter-spacing: 2px;
      margin-left: 2px;
    }
    a{
      margin-right: 36px;
      letter-spacing: 2px;
      font-family: 'Noto Serif JP', sans-serif;
    }
  }
  .news-top{
    border-top:  1px solid #707070;
  }
  .news-contents{
    display:flex;
    align-items: center;
    padding: 21px 0;
    border-bottom: 1px solid #707070;
    .date{
      margin-left: 6px;
      margin-right: 90px;
    }

}
}
.about{
  background-color: #f4f5f7;
  padding-top: 91px;
  padding-bottom: 90px;
  h2{
    text-align: center;
    line-height: 39px;
    margin-bottom: 5px;
  }
  >p{
    text-align: center;
    margin-bottom: 93px;
    letter-spacing: 2px;
  }
  .about-content{
    display: flex;
    justify-content: center;
    img{
      width:638px;
      height:456px;
    }
    .about-text{

      flex-direction: column;
      margin-left: 33px;
      h3{
        font-size: 25px;
        margin-top:46px;
        margin-bottom: 36px;
      }
      p{
        margin-left: 35px;
        line-height: 40px;
      }
    }
  }
  a{
    display:block;
    width: 214px;
    height:60px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    margin-top: 82px;
    border: 2px solid #000000;
    font-family: 'Noto Serif JP', sans-serif;
    span{
      margin-left: 25px;
    }
  }
}
.product{
  h2{
    line-height: 39px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 125px;
  }
  >p{
    text-align: center;
    margin-bottom: 76px;
    letter-spacing: 2px;
  }
  .product-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .product-contents{
      margin-bottom: 76px;
      img{
        height:369px;
        width:516px;
      }
      p{
        text-align: center;
        letter-spacing: 2px;
      }
      .product-name{
        margin-top: 27px;
        margin-bottom: 14px;
      }

    }
  }
  a{
    display:block;
    width: 214px;
    height:60px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    border: 2px solid #000000;
    margin-bottom: 90px;
    font-family: 'Noto Serif JP', sans-serif;
    span{
      margin-left: 25px;
    }
  }
}
.member{
  background-color: #f4f5f7;
  img{
    display:block;
    margin:0 auto;
  }
}
.blog{
  h2{
    text-align: center;
    line-height: 39px;
    margin-top: 125px;
  }
  >p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 43px;
  }
  .blog-content{
    width:1124px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .blog-date{
      font-size: 16px;
      margin-top: 28px;
      margin-bottom: 8px;
      color: #686868;
    }
    .blog-p{
      font-size: 16px;
    }

  }
  a{
    display:block;
    width: 214px;
    height:60px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    margin-top: 75px;
    border: 2px solid #000000;
    margin-bottom: 90px;
    font-family: 'Noto Serif JP', sans-serif;
    span{
      margin-left: 25px;
    }
  }
}
.contact{
  background-color:#373A44;
  padding-top: 98px;
  padding-bottom: 106px;
  h2{
    text-align: center;
    line-height: 39px;

    margin-bottom: 5px;
    color:#ffffff;
  }
  >p{
    text-align: center;
    color: #ffffff;
    padding-bottom: 75px;
  }
  .contact-btn{
    a{
      display:block;
      text-align: center;
      margin: 0 auto;
      color:#ffffff;
      width:860px;
      border:3px solid #ffffff;
      h3{
        letter-spacing:1.7px;
        font-size: 34px;
        margin-top: 49px;
        font-family: 'Noto Serif JP', sans-serif;
      }
      p{
        font-size: 29px;
        margin-top: 16px;
        margin-bottom: 56px;

      }
    }
  }
}
footer{
  background-color: #000000;
  padding-top: 87px;
  padding-bottom: 96px;
  .footer-list{
    width:700px;
    margin: 0 auto;
    margin-bottom: 88px;
    ul{
      display: flex;
      justify-content: space-evenly;
      li a{
        display: block;
        line-height: 29px;
        color:#ffffff;

        }
      }
    }
    .icon{
      margin: 0 auto;
      display: flex;
      width:149px;
      justify-content: space-between;
      .fab{
        color: #ffffff;
      }
    }
    h1{
      text-align: center;
      font-size:54px;
      line-height: 70px;
      margin-top: 79px;
      margin-bottom: 16px;
      color: #ffffff;
    }
    p{
      text-align: center;
      line-height: 26px;
      color: #ffffff;
      font-family: 'Noto Serif JP', sans-serif;
    }
  }
